[alias]
  ac = !git add -A && git commit -m
  del-file-log = !git log --oneline --follow -- 
  del-file-path = !git log --diff-filter=D --summary | grep delete | grep 
  publish = !git push origin -u "$(git symbolic-ref --short HEAD)"
  squash-template = !git rebase -i --root
  clean-all = !git clean -dfx
